@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.menu-quantity {
  @apply w-[25px] h-[25px] p-[1px] bg-blue-950 rounded-full text-sm font-bold text-white flex justify-center items-center ;
}

.loader-wrapper {
  @apply w-full h-full flex flex-col justify-center items-center fixed top-0 left-0 bg-slate-50 opacity-70;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #060230;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 